@page
@model Client.Pages.Admin.Dashboard.Index

<div id="content-left">
    <ul>
        <a href="~/Admin/Dashboard/Index">
        <li>Dashboard</li></a>
        <a href="~/Admin/Order/Index">
        <li>Orders</li></a>
        <a href="~/Admin/Product/Index">
        <li>Products</li></a>
        <a href="~/Admin/Customer/Index">
        <li>Customers</li></a>
        <a href="~/Admin/Employee/Index">
        <li>Employees</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path-admin"><b>DASHBOARD</b></div>
    <div class="content-main">
        <div id="content-main-dashboard">
            <div id="dashboard-1">
                <div id="dashboard-1-container">
                    <div class="dashboard-item">
                        <div class="dashboard-item-title">Weekly Sales</div>
                        <div class="dashboard-item-content">$@Model.WeeklySales</div>
                    </div>
                    <div class="dashboard-item">
                        <div class="dashboard-item-title">Total Orders</div>
                        <div class="dashboard-item-content">@Model.TotalOrders</div>
                    </div>
                    <div class="dashboard-item">
                        <div class="dashboard-item-title">Total Customers</div>
                        <div class="dashboard-item-content">@Model.TotalCustomers</div>
                    </div>
                    <div class="dashboard-item">
                        <div class="dashboard-item-title">Total Guest</div>
                        <div class="dashboard-item-content">@Model.TotalGuest</div>
                    </div>
                </div>
            </div>
            <div id="dashboard-2">
                <select id="dropdown">
                    @foreach(var year in Model.Years) {
                        <option value="@year">@year</option>
                    }
                </select>
                <div id="chart" style="text-align: center;">
                    <div id="chart1">
                        <h3>Statistic Orders (Month)</h3>
                        <canvas id="myChart1" style="width: 100%;"></canvas>
                    </div>
                    <div id="chart2">
                        <canvas id="myChart2" style="width: 80%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/my.js"></script>
<script>
    $('#dropdown').on('change', function () {
        OrdersChart(this.value);
    });
    function OrdersChart(year) {

        $.ajax({
            type: 'GET',
            // Note the difference in url (this works if you're actually in Index page)
            url: `?handler=BigChart&year=${year}`,
            success: function (data) {
                canvas = document.getElementById("myChart1");
                ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                var xValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];

                new Chart("myChart1", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            data: data,
                            borderColor: "sienna",
                            fill: true
                        }]
                    },
                    options: {
                        legend: { display: false }
                    }
                });

            },
            error: function (error) {
            }
        })

    }

    function CustomersChart() {
        $.ajax({
            type: 'GET',
            // Note the difference in url (this works if you're actually in Index page)
            url: '?handler=SmallChart',
            success: function (data) {
                console.log(data)
                var xValues = ["Total", "New customer"];
                var yValues = data;
                var barColors = ["green", "red"];

                new Chart("myChart2", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "New Customers (30 daily Avg)"
                        }
                    }
                });
            },
            error: function (error) {
                alert("Error: " + error);
            }
        })
        
    }

    OrdersChart();
    CustomersChart();
</script>
