@page
@model Pages.Account.SignUp
@{
}
<div id="form">
    <div id="form-title">
        <span><a href="~/account/signup" style="color: red;">SIGN UP</a></span>
        <span><a href="~/account/signin">SIGN IN</a></span>
    </div>
    <div id="form-content">
        <form method="post">
            <label>Company name<span style="color: red;">*</span></label><br />
            <input type="text" valuee="@ViewData["CompanyName"]" name="CompanyName" /><br />
            <span class="msg-error" style="color: red;">@ViewData["ErrorCompanyName"]</span><br />
            
            <label>Contact name<span style="color: red;"></span></label><br />
            <input type="text" valuee="@ViewData["ContactName"]" name="ContactName" /><br />
            <span class="msg-error" style="color: red;">@ViewData["ErrorContactName"]</span><br />
            
            <label>Contact title<span style="color: red;"></span></label><br />
            <input type="text" valuee="@ViewData["ContactTitle"]" name="ContactTitle" /><br />
            <span class="msg-error" style="color: red;">@ViewData["ErrorContactTitle"]</span><br />
            
            <label>Address<span style="color: red;">*</span></label><br />
            <input type="text" valuee="@ViewData["Address"]" name="Address" /><br />
            <span class="msg-error" style="color: red;">@ViewData["ErrorAddress"]</span><br />
            
            <label>Email<span style="color: red;">*</span></label><br />
            <input type="text" valuee="@ViewData["Email"]" name="Email" /><br />
            <span class="msg-error" style="color: red;">@ViewData["ErrorEmail"]</span><br />
            
            <label>Password<span style="color: red;">*</span></label><br />
            <input type="text" valuee="@ViewData["Password"]" name="Password" /><br />
            <span class="msg-error" type="password" style="color: red;">@ViewData["ErrorPassword"]</span><br />

            <input type="submit" value="SIGN UP" style="margin-bottom: 30px;"/>
        </form>
    </div>
</div>