@page
@model Client.Pages.Account.UpdatePassword

<div id="form">
    <div id="form-content">
        <form method="post">
            <input type="hidden" asp-for="Request.AccountId" value="@ViewData["AccountId"]" /><br />
            
            <label>Current Password<span style="color: red;">*</span></label><br/>
            <input type="password" asp-for="Request.OldPassword" value="@ViewData["OldPassword"]"/><br/>
            <span class="msg-error" style="color: red">@ViewData["ErrorOldPassword"]</span><br/>
            
            <label>New Password<span style="color: red;">*</span></label><br/>
            <input type="password" asp-for="Request.NewPassword" value="@ViewData["NewPassword"]"/><br/>
            <span class="msg-error" style="color: red">@ViewData["ErrorNewPassword"]</span><br/>
            
            <label>Confirm Password<span style="color: red;">*</span></label><br/>
            <input type="password" asp-for="Request.ConfirmPassword" value="@ViewData["ConfirmPassword"]"/><br/>
            <span class="msg-error" style="color: red">@ViewData["ErrorConfirmPassword"]</span><br/>

            <input type="submit" value="UPDATE" style="margin-bottom: 30px;"/>
        </form>
    </div>
</div>